
*{ 
    margin:0px
}

.blog{ 
    height: 100vh;
    display:flex;
    align-items:center;
    background-image: url("imagen2.jpg");
    background-size: cover;
    
}

.CuadroPrincipal{ 
    
    width:50%;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom: auto;
    text-align: center;
}

